
{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-2">
  	<div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <!-- Main menu -->
            <li class="current">
            	<a href="/">
            		<i class="glyphicon glyphicon-home">
            		</i> Dashboard
            	</a>
            </li>
            
            <li>
            <a href="/corpora">
            	<i class="glyphicon glyphicon-list">
            	</i> Corpora
            </a>
        	</li>
        </ul>
     </div>
  </div>
  <div class="col-md-10">

		<div class="content-box-large">
			<div class="panel-heading">
			<div class="panel-title">Responsive Tables</div>
		</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>DB Name</th>
	                  <th>Size</th>
	                  <th>Functions</th>
	                </tr>
	              </thead>
	              
	              <tbody>
	                
	                {% for db_name, db_size in corpora_db.items() %}
    					
	    				<tr>
		                  <td>{{loop.index}}</td>
		                  <td>{{db_name}}</td>
		                  <td>{{db_size}}</td>
		                  <td>
		                  	<button class="btn btn-danger small-font" style="font-size: 9px;" value={{db_name}}>
		                  		<i class="glyphicon glyphicon-remove" > </i> Delete
		                  	</button>
		                  </td>
		                </tr>

					{% endfor %}
	              
	              </tbody>
	            </table>
				</div>
			</div>
		</div>
		</div>
  </div>
{% endblock %}

    {% block footer %}
    <script src="{{ url_for('static', filename='vendors/datatables/dataTables.bootstrap.js') }}"></script>

    <script src="{{ url_for('static', filename='js/tables.js') }}"></script>
    {% endblock %}