<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <script src="{{ url_for('static', filename='js/tags.js') }}"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="{{url_for('static', filename='js/d3.layout.cloud.js') }}"></script>

    </head>
    <body>
        <div id="vis">
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/word-cloud.js') }}"></script>

        </div>
    </body>
</html>